name: Build and upload jar and JavaDoc

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'adopt'
          cache: maven
      - name: Validate, build and run tests
        run: mvn --batch-mode --update-snapshots verify
      - name: Generate JavaDoc
        run: mvn javadoc:javadoc
      - name: Copy files
        run: mkdir -p staging/jar && mkdir -p staging/docs  && cp target/*.jar staging/jar && cp -R docs/javadoc/apidocs/ staging/docs
      - uses: actions/upload-artifact@v4
        with:
          name: Jar Package
          path: staging/jar
      - uses: actions/upload-artifact@v4
        with:
          name: Javadoc
          path: staging/docs
